body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    width: 100vh;
    margin: auto;
    box-sizing: border-box;
}

.row {
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1 1 0;
    min-width: 0;
    height: auto;
}


.gridElement {
    padding: 0;
    margin: 0;
    flex: 1 1 0;
    aspect-ratio: 1/1;
    border: 1px solid red;
    min-width: 0;
    height: auto;
    
}

.gridElement:hover {
    background-color: blue;
}