body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(190, 190, 190);
    display: flex;
}

.tools {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.container {
    padding: 20px;
    width: 100vh;
    margin: auto;
    box-sizing: border-box;
}

.row {
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1 1 0;
    min-width: 0;
    height: auto;
    box-sizing: border-box;
}


.gridElement {
    padding: 0;
    margin: 0;
    flex: 1 1 0;
    aspect-ratio: 1/1;
    border: 1px solid rgb(70, 70, 70);
    min-width: 0;
    height: auto;
    box-sizing: border-box;
}

.backgroundColor {
    background-color: rgb(0, 0, 0);
}